<div class="clr-row">
    <div class="clr-col-5">
        <clr-datagrid [(clrDgSingleSelected)]="selected_host" (clrDgSingleSelectedChange)="selectedHostChanged($event)"
            [clrDgRowSelection]="true" class="datagrid-compact">
            <clr-dg-action-bar>
                <div class="btn-group">
                    <button class="btn" (click)="addHostModal = true">
                        <clr-icon shape="plus"></clr-icon> Add Host
                    </button>
                    <button class="btn" [disabled]="!selected_host" (click)="editHostModal = true">
                        <clr-icon shape="pencil"></clr-icon> Edit Host
                    </button>
                    <button class="btn" [disabled]="!selected_host" (click)="deleteHostModal = true">
                        <clr-icon shape="trash"></clr-icon> Delete Host
                    </button>
                </div>
            </clr-dg-action-bar>
            <clr-dg-placeholder>No hosts found!</clr-dg-placeholder>
            <clr-dg-column [clrDgField]="'ip'">IP<clr-dg-string-filter [clrDgStringFilter]="findingFilter">
                </clr-dg-string-filter>
            </clr-dg-column>
            <clr-dg-column [clrDgField]="'fqdn'">FQDN<clr-dg-string-filter [clrDgStringFilter]="findingFilter">
                </clr-dg-string-filter>
            </clr-dg-column>
            <clr-dg-column [clrDgField]="'os'">OS<clr-dg-string-filter [clrDgStringFilter]="findingFilter">
                </clr-dg-string-filter>
            </clr-dg-column>
            <clr-dg-row *clrDgItems="let host of hosts" [clrDgItem]="host">
                <clr-dg-cell>{{host.ip}}</clr-dg-cell>
                <clr-dg-cell>{{host.fqdn}}</clr-dg-cell>
                <clr-dg-cell>{{host.os}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>
                <clr-dg-pagination #host_pagination [clrDgPageSize]="25">
                    {{host_pagination.firstItem + 1}} - {{host_pagination.lastItem + 1}} of
                    {{host_pagination.totalItems}} hosts
                </clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
    </div>
    <div class="clr-col">
        <clr-datagrid [(clrDgSingleSelected)]="selected_service" [clrDgRowSelection]="true" class="datagrid-compact">
            <clr-dg-action-bar>
                <div class="btn-group">
                    <button [disabled]="!selected_host" class="btn" (click)="addServiceModal = true">
                        <clr-icon shape="plus"></clr-icon> Add Service
                    </button>
                    <button [disabled]="!selected_service" class="btn"
                        (click)="editServiceModal = true">
                        <clr-icon shape="pencil"></clr-icon> Edit Service
                    </button>
                    <button [disabled]="!selected_service" class="btn"
                        (click)="deleteServiceModal = true">
                        <clr-icon shape="trash"></clr-icon> Delete Service
                    </button>
                </div>
            </clr-dg-action-bar>
            <clr-dg-placeholder>No services found!</clr-dg-placeholder>
            <clr-dg-column [clrDgField]="'port'">Port<clr-dg-string-filter [clrDgStringFilter]="portFilter">
                </clr-dg-string-filter>
            </clr-dg-column>
            <clr-dg-column [clrDgField]="'name'">Type<clr-dg-string-filter [clrDgStringFilter]="typeFilter">
                </clr-dg-string-filter>
            </clr-dg-column>
            <clr-dg-column [clrDgField]="'name'">Protocol<clr-dg-string-filter [clrDgStringFilter]="typeFilter">
            </clr-dg-string-filter>
        </clr-dg-column>
            <clr-dg-column>PoC's</clr-dg-column>
            <div *ngIf="selected_host">
                <clr-dg-row *clrDgItems="let service of host_services" [clrDgItem]="service">
                    <clr-dg-cell>{{service.port}}</clr-dg-cell>
                    <clr-dg-cell>{{service.name}}</clr-dg-cell>
                    <clr-dg-cell>{{service.protocol}}</clr-dg-cell>
                    <clr-dg-cell>
                        <clr-icon shape="pop-out" (click)="viewPocs(service)"></clr-icon>
                    </clr-dg-cell>
                </clr-dg-row>
            </div>
            <clr-dg-footer>
                <clr-dg-pagination #poc_pagination [clrDgPageSize]="25">
                    {{poc_pagination.firstItem + 1}} - {{poc_pagination.lastItem + 1}} of
                    {{poc_pagination.totalItems}} services
                </clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
    </div>

</div>

<clr-modal [(clrModalOpen)]="generatePocModal" [clrModalSize]="'lg'">
    <h3 class="modal-title">Generate PoC</h3>
    <div class="modal-body">
        <clr-datagrid [(clrDgSingleSelected)]="selected_tool"
            (clrDgSingleSelectedChange)="SetThreads(selected_tool.threads)" [clrDgRowSelection]="true">>
            <clr-dg-placeholder>No tools found!</clr-dg-placeholder>
            <clr-dg-column [clrDgField]="'name'">Name
                <clr-dg-string-filter [clrDgStringFilter]="toolFilter"></clr-dg-string-filter>
            </clr-dg-column>
            <clr-dg-column [clrDgField]="'commandstring'">Commandstring
                <clr-dg-string-filter [clrDgStringFilter]="commandstringFilter"></clr-dg-string-filter>
            </clr-dg-column>
            <clr-dg-row *clrDgItems="let tool of tools" [clrDgItem]="tool">
                <clr-dg-cell>{{tool.name}}</clr-dg-cell>
                <clr-dg-cell>{{tool.commandstring}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>
                <clr-dg-pagination #tool_pagination [clrDgPageSize]="20">
                    {{tool_pagination.firstItem + 1}} - {{tool_pagination.lastItem + 1}} of
                    {{tool_pagination.totalItems}} tools
                </clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
        <form clrForm>
            <section class="form-block">
                <clr-input-container>
                    <label>Threads</label><input clrInput [(ngModel)]="task_threads" name="threadsInput" type="text"
                        id="requiredInput" placeholder="# of threads">
                    <clr-control-error>This field is required!</clr-control-error>
                </clr-input-container>
            </section>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" [disabled]="!task_threads" class="btn btn-primary"
            (click)="generatePocModal = false; AddTask()">Ok</button>
    </div>
</clr-modal>


<clr-modal [(clrModalOpen)]="viewPocModal" [clrModalStaticBackdrop]="false" [clrModalSize]="'xl'">
    <h3 class="modal-title" *ngIf="selected_host && selected_service">
        {{selected_host.name}}
        ({{selected_host.ip}}:{{selected_service.port}})</h3>
    <div class="modal-body" height="600px" id="pocmodal">

        <clr-accordion>
            <clr-accordion-panel *ngFor="let poc of service_pocs">
                <clr-accordion-title>
                    {{poc.info}}
                    <span style="float: right;">
                        <button type="button" title="Copy To Clipboard" class="btn btn-icon btn-primary btn-sm"
                            aria-label="settings" (click)="copyToClipboard(poc.poc)">
                            <clr-icon shape="copy"></clr-icon>
                        </button>
                    </span>
                </clr-accordion-title>
                <clr-accordion-content *clrIfExpanded>
                    <textarea name="description" rows="15" cols="100">{{poc.poc}}</textarea>
                </clr-accordion-content>
            </clr-accordion-panel>
        </clr-accordion>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="viewPocModal = false">Ok</button>
    </div>

</clr-modal>


<clr-modal [(clrModalOpen)]="addHostModal" [clrModalStaticBackdrop]="false" [clrModalSize]="'lg'">
    <h3 class="modal-title">Add host</h3>
    <div class="modal-body" height="600px">
        <form clrForm>
            <clr-input-container>
                <label>IP Address</label>
                <input clrInput placeholder="e.g. 192.168.2.1" name="name" [(ngModel)]="newHostIP" required />
                <clr-control-error>This field is required!</clr-control-error>
            </clr-input-container>
            <clr-input-container>
                <label>FQDN</label>
                <input clrInput placeholder="e.g. example.com" name="name" [(ngModel)]="newHostFQDN" />
            </clr-input-container>
            <clr-input-container>
                <label>Operating System</label>
                <input clrInput placeholder="e.g. Windows XP" name="name" [(ngModel)]="newHostOS" />
            </clr-input-container>
            <clr-input-container>
                <label>MAC Address</label>
                <input clrInput placeholder="e.g. 7C-AA-96-12-65-B7" name="name" [(ngModel)]="newHostMAC" />
            </clr-input-container>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="addHostModal = false">Cancel</button>
        <button type="button" [disabled]="!newHostIP" class="btn btn-primary"
            (click)="addHostModal = false; addHost()">Add</button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="deleteHostModal">
    <h3 class="modal-title">Delete host?</h3>
    <div class="modal-body">
        <p *ngIf="selected_host">Are you sure you want to delete host "<b>{{selected_host.ip}}</b>"?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="deleteHostModal = false">Cancel</button>
        <button type="button" class="btn btn-warning"
            (click)="deleteHost(selected_host); deleteHostModal = false">Delete</button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="editHostModal" [clrModalStaticBackdrop]="false" [clrModalSize]="'lg'">
    <h3 class="modal-title">Edit finding</h3>
    <div class="modal-body" height="600px">
        <form clrForm *ngIf="selected_host">
            <clr-input-container>
                <label>IP Address</label>
                <input clrInput placeholder="e.g. 192.168.2.1" name="ip" [(ngModel)]="selected_host.ip" required />
                <clr-control-error>This field is required!</clr-control-error>
            </clr-input-container>
            <clr-input-container>
                <label>FQDN</label>
                <input clrInput placeholder="e.g. example.com" name="fqdn" [(ngModel)]="selected_host.fqdn" />
            </clr-input-container>
            <clr-input-container>
                <label>Operating System</label>
                <input clrInput placeholder="e.g. Windows XP" name="os" [(ngModel)]="selected_host.os" />
            </clr-input-container>
            <clr-input-container>
                <label>MAC Address</label>
                <input clrInput placeholder="e.g. 7C-AA-96-12-65-B7" name="mac" [(ngModel)]="selected_host.mac" />
            </clr-input-container>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="editHostModal = false">Cancel</button>
        <button *ngIf="selected_host" type="button" [disabled]="!selected_host.ip" class="btn btn-primary"
            (click)="editHostModal = false; editHost(selected_host)">Edit</button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="notYetImplementedModal" [clrModalStaticBackdrop]="false" [clrModalSize]="'lg'">
    <h3 class="modal-title">Feature not yet implemented</h3>
    <div class="modal-body">
        Please forward your complaints or requests to /dev/null
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="notYetImplementedModal = false">Kusje van de
            boys</button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="addServiceModal" [clrModalStaticBackdrop]="false" [clrModalSize]="'lg'">
    <h3 class="modal-title">Add service</h3>
    <div class="modal-body" height="600px" id="pocmodal">
        <form clrForm>
            <clr-input-container>
                <label>Service name</label>
                <input clrInput placeholder="e.g. www or rdp" name="servicename" [(ngModel)]="newServiceName"
                    required />
                <clr-control-error>This field is required!</clr-control-error>
            </clr-input-container>
            <clr-input-container>
                <label>Port</label>
                <input clrInput placeholder="e.g. 80 or 443" name="serviceport" [(ngModel)]="newServicePort"
                    required />
                <clr-control-error>This field is required!</clr-control-error>
            </clr-input-container>
            <clr-select-container>
                <label>Protocol</label>
                <select clrSelect name="serviceprotocol" [(ngModel)]="newServiceProtocol" required>
                    <option value="tcp">tcp</option>
                    <option value="udp">udp</option>
                </select>
                <clr-control-error>This field is required!</clr-control-error>
            </clr-select-container>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="addServiceModal = false">Cancel</button>
        <button type="button" [disabled]="!newServiceName && !newServicePort" class="btn btn-primary"
            (click)="addServiceModal = false; addService()">Add</button>
    </div>
</clr-modal>


<clr-modal [(clrModalOpen)]="editServiceModal" [clrModalStaticBackdrop]="false" [clrModalSize]="'lg'">
    <h3 class="modal-title">Add service</h3>
    <div class="modal-body" height="600px" id="pocmodal">
        <form clrForm *ngIf="selected_service">
            <clr-input-container>
                <label>Service name</label>
                <input clrInput placeholder="e.g. www or rdp" name="servicename" [(ngModel)]="selected_service.name"
                    required />
                <clr-control-error>This field is required!</clr-control-error>
            </clr-input-container>
            <clr-input-container>
                <label>Port</label>
                <input clrInput placeholder="e.g. 80 or 443" name="serviceport" [(ngModel)]="selected_service.port"
                    required />
                <clr-control-error>This field is required!</clr-control-error>
            </clr-input-container>
            <clr-select-container>
                <label>Protocol</label>
                <select clrSelect name="serviceprotocol" [(ngModel)]="selected_service.protocol" required>
                    <option value="tcp">tcp</option>
                    <option value="udp">udp</option>
                </select>
                <clr-control-error>This field is required!</clr-control-error>
            </clr-select-container>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="editServiceModal = false">Cancel</button>
        <button type="button" [disabled]="!newServiceName" class="btn btn-primary"
            (click)="editServiceModal = false; editService(selected_service)">Add</button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="deleteServiceModal">
    <h3 class="modal-title">Delete service?</h3>
    <div class="modal-body">
        <p *ngIf="selected_service">Are you sure you want to delete service "<b>{{selected_service.type}} (port: {{selected_service.port}})</b>"?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="deleteServiceModal = false">Cancel</button>
        <button type="button" class="btn btn-warning"
            (click)="deleteService(selected_service); deleteServiceModal = false">Delete</button>
    </div>
</clr-modal>