<nav id="wrapper" class="active">
  <div id="sidebar-wrapper">
    <ul id="sidebar_menu" class="sidebar-nav">
      <li class="sidebar-brand">
        <a id="menu-toggle" a routerlink="/home" href="/home">Menu
          <span id="main_icon" class="fa fa-align-justify"></span>
        </a>
      </li>
    </ul>
    <ul class="sidebar-nav" id="sidebar">
      <li>
        <a routerLink="home" routerLinkActive="active">Home
          <span id="sub_icon" class="fa fa-home"></span>
        </a>
      </li>
      <li>
        <a routerLink="overview" routerLinkActive="active">Overview
          <span id="sub_icon" class="fa fa-sitemap"></span>
        </a>
      </li>
      <li>
        <a routerLink="hosts" routerLinkActive="active">Hosts
          <span id="sub_icon" class="fa fa-laptop"></span>
        </a>
      </li>
      <li>
        <a routerLink="">Services
          <span id="sub_icon" class="fa fa-globe"></span>
        </a>
      </li>
      <li>
        <a routerLink="">Findings
          <span id="sub_icon" class="fa fa-flag"></span>
        </a>
      </li>
      <li>
        <a routerLink="">Settings
          <span id="sub_icon" class="fa fa-gears"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>