<h1>Home</h1><br>
Please note that this is a beta version of ATLAS which is<br>
still undergoing final testing before its official release. The<br>
platform, its software and all content found on it are provided on an<br>
“as is” and “as available” basis. ATLAS does not give any warranties,<br>
whether express or implied, as to the suitability or usability of the<br>
website, its software or any of its content.<br><br>

ATLAS will not be liable for any loss, whether such loss is direct,<br>
indirect, special or consequential, suffered by any party as a result<br>
of their use of ATLAS, its software or content. Any<br>
downloading or uploading of material to the website is done at the<br>
user’s own risk and the user will be solely responsible for any<br>
damage to any computer system or loss of data that results from such<br>
activities.<br><br>

Should you encounter any bugs, glitches, lack of functionality or<br>
other problems on the website, please let us know immediately so we<br>
can rectify these accordingly. Your help in this regard is greatly<br>
appreciated! You can write to us at this address noreply@10minutemail.com.<br>