<clr-datagrid>
    <clr-dg-column>User ID</clr-dg-column>
    <clr-dg-column>Name</clr-dg-column>
    <clr-dg-column>Creation date</clr-dg-column>
    <clr-dg-column>Favorite color</clr-dg-column>

    <clr-dg-row>
        <clr-dg-cell>asd</clr-dg-cell>
        <clr-dg-cell>asd2</clr-dg-cell>
        <clr-dg-cell>asd3</clr-dg-cell>
        <clr-dg-cell>asd4</clr-dg-cell>
        <clr-dg-row-detail *clrIfExpanded>
            <clr-dg-cell>asd</clr-dg-cell>
        <clr-dg-cell>asd2</clr-dg-cell>
        <clr-dg-cell>asd3</clr-dg-cell>
        <clr-dg-cell>asd4</clr-dg-cell>
        <clr-dg-row-detail *clrIfExpanded>
            <clr-dg-cell>asd</clr-dg-cell>
        <clr-dg-cell>asd2</clr-dg-cell>
        <clr-dg-cell>asd3</clr-dg-cell>
        <clr-dg-cell>asd4</clr-dg-cell>
        </clr-dg-row-detail>
        </clr-dg-row-detail>
    </clr-dg-row>

</clr-datagrid>