<div class="row">
  <div class="col-xs">
    <clr-datagrid [(clrDgSingleSelected)]="selected_tool">
      <clr-dg-action-bar>
        <div class="btn-group">
          <button class="btn" (click)="form_tool = {}; wizardLarge.reset(); lgOpen = true; new_tool = true;">
            <clr-icon shape="plus"></clr-icon> Add Tool
          </button>
          <button class="btn" [disabled]="! selected_tool" (click)="wizardLarge.reset(); test_target=''; test_port=''; lgOpen = true; new_tool = false; form_tool = selected_tool;  ParseCommand()">
            <clr-icon shape="pencil"></clr-icon> Edit Tool
          </button>
          <button class="btn" [disabled]="! selected_tool" (click)="deleteToolModal = true">
            <clr-icon shape="trash"></clr-icon> Delete Tool
          </button>
        </div>
      </clr-dg-action-bar>
      <clr-dg-placeholder>No tools found!</clr-dg-placeholder>
      <clr-dg-column [clrDgField]="'name'">Name
        <clr-dg-string-filter [clrDgStringFilter]="toolFilter"></clr-dg-string-filter>
      </clr-dg-column>
      <clr-dg-row *clrDgItems="let tool of tools" [clrDgItem]="tool">
        <clr-dg-cell>{{tool.name}}</clr-dg-cell>
      </clr-dg-row>
      <clr-dg-footer>
        <clr-dg-pagination #tool_pagination [clrDgPageSize]="20">
          {{tool_pagination.firstItem + 1}} - {{tool_pagination.lastItem + 1}} of {{tool_pagination.totalItems}} tools
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
  <div class="col-xs">
    <h3>Info</h3>
    <p *ngIf="selected_tool">
      <b>Name: </b>{{selected_tool.name}} <br>
      <b>Execution string: </b>{{selected_tool.commandstring}} <br>
      <b>Expected good: </b>{{selected_tool.expected_good}} <br>
      <b>Expected bad: </b>{{selected_tool.expected_bad}} <br>
      <b>Timeout: </b>{{selected_tool.timeout}} <br>
    </p>
  </div>
</div>

<clr-wizard #wizardlg [(clrWizardOpen)]="lgOpen" clrWizardSize="xl">
  <clr-wizard-title>
    <div *ngIf="new_tool;else edit_tool">Add Tool</div>
    <ng-template #edit_tool>Edit tool</ng-template>
  </clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'" (click)="FinishWizard(form_tool);">Finish</clr-wizard-button>
  <clr-wizard-page [clrWizardPageNextDisabled]="(name.pristine || commandstring.pristine|| !toolForm.valid) && new_tool ">
    <ng-template clrPageTitle>Tool settings</ng-template>
    <form clrForm #toolForm="ngForm">
      <section class="form-block">

        <div class="form-group">
          <label>Name</label>
          <label for="nameInput" aria-haspopup="true" role="tooltip" [class.invalid]="name.touched && !name.valid"
            class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
            <input type="text" id="nameInput" required [(ngModel)]="form_tool.name" name="name" #name="ngModel" size="32%">
            <span class="tooltip-content">This field cannot be empty!</span>
          </label>
        </div>

        <div class="form-group">
          <label>Path</label>
          <input [(ngModel)]="form_tool.path" name="path" type="text" id="pathInput" placeholder="/usr/bin/" size="35%">
        </div>

        <div class="form-group">
          <label>Command string</label>
          <label for="commandstringInput" aria-haspopup="true" role="tooltip" [class.invalid]="commandstring.touched && !commandstring.valid"
            class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
            <input required [(ngModel)]="form_tool.commandstring" name="commandstring" type="text" id="commandstringInput"
              placeholder="nmap <host> -p <port>" size="32%" #commandstring="ngModel">
            <span class="tooltip-content">This field cannot be empty!</span>
          </label>
        </div>

        <div class="form-group">
          <label>Expected good</label>
          <input [(ngModel)]="form_tool.expected_good" name="expected_good" type="text" id="expected_goodInput" size="35%">
        </div>
        <div class="form-group">
          <label>Expected bad</label>
          <input [(ngModel)]="form_tool.expected_bad" name="expected_bad" type="text" id="expected_badInput" size="35%">
        </div>
        <div class="form-group">
          <label>Timout<clr-modal [(clrModalOpen)]="testoutputModalOpen" [clrModalSize]="'lg'">
            <h3 class="modal-title">Test output</h3>
            <div class="modal-body">
              <textarea clrTextarea [(ngModel)]="test_output.output" name="test_output" rows="15"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="testoutputModalOpen = false">Ok</button>
            </div>
          </clr-modal></label>
          <input [(ngModel)]="form_tool.timeout" name="timeout" type="text" id="timeoutInput" size="35%">
        </div>
        <div class="form-group">
          <label>Threads</label>
          <input [(ngModel)]="form_tool.threads" name="threads" type="text" id="threads" size="35%">
        </div>
      </section>
    </form>
  </clr-wizard-page>
  <clr-wizard-page>
    <ng-template clrPageTitle>Test settings</ng-template>
    <form>
      <section class="form-block">
        <!-- Test options here -->
        <div class="form-group">
          <label>Target</label>
          <input (keyup)="ParseCommand()" [(ngModel)]="test_target" #target name="target" type="text" id="target"
            placeholder="192.168.1.53" size="35%">
        </div>
        <div class="form-group">
          <label>Port</label>
          <input (keyup)="ParseCommand()" [(ngModel)]="test_port" name="port" type="text" id="port" placeholder="443"
            size="35%">
        </div>
        <div class="form-group">
          <label>Command to be executed:</label>
          <input [(ngModel)]="test_commandstring" name="test_commandstring" type="text" id="port" placeholder="443"
            size="35%">
        </div>
        <div class="form-group">
          <button class="btn btn-outline" (click)="loading=true; Execute()">
            <span *ngIf="loading; else run" class="spinner spinner-inline"></span>
            <ng-template #run>
              <clr-icon shape="play"></clr-icon> Run
            </ng-template>
          </button>
        </div>
      </section>
    </form>
  </clr-wizard-page>
</clr-wizard>
<clr-modal [(clrModalOpen)]="testoutputModalOpen" [clrModalSize]="'lg'">
  <h3 class="modal-title">Test output</h3>
  <div class="modal-body">
    <textarea clrTextarea [(ngModel)]="test_output.output" name="test_output" rows="15"></textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="testoutputModalOpen = false">Ok</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="deleteToolModal">
  <h3 class="modal-title">Delete tool?</h3>
  <div class="modal-body">
    <p *ngIf="selected_tool">Are you sure you want to delete tool "
      <b>{{selected_tool.name}}</b>"?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="deleteToolModal = false">Cancel</button>
    <button type="button" class="btn btn-warning" (click)="DeleteTool(selected_tool)">Delete</button>
  </div>
</clr-modal>