<h2>System</h2>

<div class="clr-row">
    <div class="clr-col-4">
        <div *ngIf="systeminfo" class="card">
            <div class="card-block">
                <h4 class="card-title">System Info</h4>
                <p class="card-text">
                    <p>
                        <label><b>Platform: </b></label>{{systeminfo.platform}}<br />
                        <label><b>Release: </b></label>{{systeminfo.release}}<br />
                        <label><b>Version: </b></label>{{systeminfo.version}}<br />
                        <label><b>Architecture: </b></label>{{systeminfo.architecture}}<br />
                        <label><b>Hostname: </b></label>{{systeminfo.hostname}}<br />
                        <label><b>IP Address: </b></label>{{systeminfo.ipaddress}}<br />
                        <label><b>Processor: </b></label>{{systeminfo.processor}}<br />
                    </p>
            </div>
        </div>
    </div>
        <div class="clr-col-4">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">System settings</h4>
                    <p class="card-text">
                        <form clrForm>
                            <clr-input-container>
                                <label>Backend URL</label>
                                <input clrInput placeholder="https://127.0.0.1/" name="backend_url" size="25"
                                    [(ngModel)]="backend_url" required />
                            </clr-input-container>
                        </form>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" (click)="saveProject(projectname);">Save</button>
                </div>
            </div>
        </div>
</div>
<h2>Project</h2>

<div class="clr-row">
    <div class="clr-col">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Save project</h4>
                <p class="card-text">
                    <form clrForm>
                        <clr-input-container>
                            <label>Project name</label>
                            <input clrInput placeholder="Projectname" name="projectname" [(ngModel)]="projectname"
                                required />
                        </clr-input-container>
                    </form>
            </div>
            <div class="card-footer">
                <ng-container *ngIf="downloading; then download; else nodownload"></ng-container>
                <ng-template #download>
                    <div class="progress loop"><progress></progress></div>
                </ng-template>
                <ng-template #nodownload>
                    <div class="progress success"><progress value="0" max="100"></progress></div>
                    <ng-container *ngIf="downloaded; then downloadfinished;"></ng-container>
                </ng-template>

                <ng-template #downloadfinished>
                    <div class="progress success"><progress value="100" max="100"></progress></div>
                </ng-template>

                <button class="btn btn-primary" [disabled]="!projectname || downloading"
                    (click)="saveProject(projectname);">Save</button>
            </div>
        </div>
    </div>

    <div class="clr-col">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Load saved project</h4>
                <p></p>
                <p class="card-text"><label class="btn btn-outline">
                        <form> <input id="inputfile" type="file" class="button-input" (change)="selectFile($event);"
                                accept=".atlas" placeholder="Upload file"></form>
                    </label></p>
                <ng-container *ngIf="uploaded; then bgtaskstarted;"></ng-container>
                <ng-template #bgtaskstarted>
                    <clr-alert [clrAlertSizeSmall]="true" [clrAlertType]="'warning'">
                        <clr-alert-item>
                            <span class="alert-text">
                                Project import started as background task. This might take a while...
                            </span>
                        </clr-alert-item>
                    </clr-alert>
                </ng-template>
            </div>
            <div class="card-footer">
                <ng-container *ngIf="!uploaded; then noupload; else uploadfinished"></ng-container>
                <ng-template #noupload>
                    <div class="progress success"><progress value="0" max="100"></progress></div>
                </ng-template>
                <ng-template #uploadfinished>
                    <div class="progress success"><progress value="100" max="100"></progress></div>
                </ng-template>
                <button class="btn btn-primary" [disabled]="!fileselected" (click)="upload()">Upload</button>
            </div>
        </div>
    </div>

    <div class="clr-col">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Clear project</h4>
                <p class="card-text">
                    Clear all project data...
            </div>
            <div class="card-footer">
                <ng-container *ngIf="!cleared; then clear; else notcleared"></ng-container>
                <ng-template #clear>
                    <div class="progress success"><progress value="0" max="100"></progress>
                    </div>
                </ng-template>
                <ng-template #notcleared>
                    <div class="progress success"><progress value="100" max="100"></progress>
                    </div>
                </ng-template>
                <button class="btn btn-danger" (click)="clearmodal = true;">Clear</button>
            </div>

            <clr-modal [(clrModalOpen)]="clearmodal">
                <h3 class="modal-title">Are you sure?</h3>
                <div class="modal-body">
                    <p>Are you sure you want to clear all settings? Tool settings will be preserved...</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline" (click)="clearmodal = false">Cancel</button>
                    <button type="button" class="btn btn-danger"
                        (click)="clearProject(); clearmodal = false">Clear</button>
                </div>
            </clr-modal>
        </div>
    </div>
</div>